
<%- include('../_layouts/adminheader'); %>
<h2 class="page-title">Thêm một trang </h2>
<a href="/admin/pages" class="btn btn-primary">Trở về</a>
<form action="/admin/pages/add-page" method="post">
    <div class="form-group">
        <label for="title">Tiêu đề trang</label>
        <input type="text"  class="form-control" name="title"  value="<%= title %>" placeholder="Title">
    </div>

    <div class="form-group">
        <label for="slug">Đường dẫn </label>
        <input type="text"  class="form-control" name="slug"  value="<%= title %>" placeholder="Slug">
    </div>

    <div class="form-group">
        <label for="content">Nội dung</label>
       <textarea name="content" id="ta" class="form-control" cols="30" rows="10"><%= content%></textarea>
       <br>
       <button class="btn btn-primary">Thêm</button>
    </div>

</form>
<%- include('../_layouts/adminfooter');%>
