
<%- include('../_layouts/adminheader'); %>
<h2 class="page-title">Thêm sản phẩm</h2>
<a href="/admin/products" class="btn btn-primary">Trở về</a>
<form action="/admin/products/add-product" method="post" enctype="multipart/form-data">

    <div class="form-group">
        <label for="">Tên sản phẩm</label>
        <input type="text"  class="form-control" name="title"  value = "<%= title %>" placeholder="Tên sản phẩm">
    </div>

    <div class="form-group">
        <label for="">Công dụng</label>
        <textarea name="desc"  class="form-control" cols="30" rows="10" placeholder=" Chức năng"><%=desc%>
        </textarea>
    </div>
    <div class="form-group">
        <label for="">Loại sản phẩm</label>
        <select name="category" class="form-control">

            <%categories.forEach(function(cat){%>
                <option value="<%=cat.slug%>"><%= cat.title %></option>
            <% })%>
        </select>
    </div>

    <div class="form-group">
        <label for="">Giá</label>
        <input type="text"  class="form-control" name="price"  value="<%=price%>" placeholder="Giá">
    </div>
   

    <div class="form-group">
        <label for="">Hình ảnh</label>
        <input type="file" class="form-control" name="mFile" required>
    </div>

    
       <button class="btn btn-primary">Thêm sản phẩm </button>
   
</form>
<script>

   
</script>
<%- include('../_layouts/adminfooter');%>
