
<%- include('../_layouts/adminheader'); %>
<h2 class="page-title">Chỉnh sửa thông tin sản phẩm</h2>
<a href="/admin/products" class="btn btn-primary">Trở về</a>
<form action="/admin/products/edit-product/<%=id%>" method="post" enctype="multipart/form-data">

    <div class="form-group">
        <label for="">Tên sản phẩm</label>
        <input type="text"  class="form-control" name="title"  value = "<%= title %>" placeholder="Tên sản phẩm">
    </div>

    <div class="form-group">
        <label for="">Công dụng</label>
        <textarea name="desc"  class="form-control" cols="30" rows="10" placeholder=" Chức năng"><%=desc%>
        </textarea>
    </div>
    <div class="form-group">
        <label for="">Loại sản phẩm</label>
        <select name="category" class="form-control">

            <%categories.forEach(function(cat){%>
               
                <option value="<%=cat.slug%>" 
        
                    <% if(cat.slug===category){ %>
                        selected="selected"
                    <% }%>
                    >
                    <%= cat.title %>
                </option>
            <% })%>
        </select>
    </div>

    <div class="form-group">
        <label for="">Giá</label>
        <input type="text"  class="form-control" name="price"  value="<%=price%>" placeholder="Giá">
    </div>

    <div class="form-group">
        <label for="">Hình ảnh hiện tại</label><br>
        <img src="/product_images/<%=id%>/<%=image%>" id="img" >
                      
    </div>
    <input type="hidden" name="pimage" value="<%= image %>">
    <div class="form-group">
        <label for="">Hình ảnh tải lên</label>
        <input type="file" class="form-control" name="mFile" required>
    </div>

    
       <button class="btn btn-primary">Sửa sản phẩm </button>
   
</form>
<h3 >Bộ sưu tập </h3>
<ul class="gallery">
    <%galleryimg.forEach(function(image){%>
<% if (image!="thumb"){%>
    <li>
        <img src="/product_images/<%=id%>/gallery/<%=image%>" id="gallery-image"  >&nbsp
        <a class="confirmDeletion" href="/admin/products/delete-image/<%= image %>?id=<%= id %>">Xoá</a>
    </li>
    <%}})%>
</ul>
<form action="/admin/products/product-gallery/<%= id %>" enctype="multipart/form-data" class="dropzone" id="dropzoneForm">
<div class="fallback">
    <input type="file" name="file" multiple>
    <input type="submit" value=" Tải lên">
    </div>
    
</form>
<!-- Dropzone CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.css" rel="stylesheet" type="text/css">

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Dropzone JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.js"></script>
<script>

    Dropzone.options.dropzoneForm={

        acceptedFiles:"image/*",
        init:function(){
            this.on("queuecomplete",function(file){


            })
        }
    }
</script>
<%- include('../_layouts/adminfooter');%>
