
<%- include('../_layouts/adminheader'); %>

<a href="/admin/statistics" class="btn btn-primary">Trở về</a>


<h2 class="page-title">Thanh toán ghi nợ</h2>

    <p>Tổng số hóa đơn ghi nợ:<b class="tong"><%= count%></b></p>
    <form action="/admin/statistics/khachhangno" method="post">
        <div class="form-group">
            <label for="">Khách nợ</label>
            <select name="user" class="form-control">
    
                <%users.forEach(function(user){%>
                   
                    <option value="<%=user.username%>">
                        <%= user.name %>
                    </option>
                <% })%>
            </select>
        </div>
            <button class="btn btn-primary">Tìm </button>
    </form>
    <table class="table table-striped table-dark  ">
        <thead class="thead-dark">
            <tr class="home">
                <th>Mã hóa đơn</th>
                <th>Nông dân </th>
                <th>Địa chỉ</th>
                <th>Số điện thoại</th>
                <!-- <th>Thông tin sản phẩm</th>
                <th>Tổng tiền</th>
                <th>Ngày đặt</th> -->
                <th>Trạng thái</th>
                <th>Chi tiết đơn </th>
            </tr>
        </thead>
        <tbody>
           
            <%orders.forEach(function(order){%>
                <tr>
                    <td><%=order._id%></td>
                    <td><%=order.username%></td>
                    <td><%=order.address%></td>
                    <td><%=order.tel%></td>
                    <td><%=order.status%></td>
                   <td> <a href="/admin/orders/detail/<%=order._id%>" class="btn ">Xem chi tiết</a></td>
              
                </tr>
               
           <% })%>
        
        </tbody>
    </table>
   
<%- include('../_layouts/adminfooter');%>
