<%- include('_layouts/header'); %>


    <h3 class="text-center "><%=title%></h3>
    <h3>Thông tin khách hàng</h3>
        <table class="table table-striped alignmiddle thongtinkhach">
            <tr><td> Tên người nhận:</td><td><%= user.name %></td></tr>
            <tr><td> Tên tài khoản:</td><td><%= user.username %></td></tr>
            <tr><td>Số điện thoại :</td><td><%= user.tel%></td></tr>
        </table>
       
       
       
        
        
        <br>
        <% orders.forEach(function(order){%>
            <h5 class="madon"><b>Mã đơn: <%=order._id%></b></h5>
            <table class="table table-striped alignmiddle">
                <tr>
                    <th>Tên sản phẩm</th>
                    <th>Giá</th>
                    <th>Số lượng</th> 
                    <th>Tổng con</th>
                </tr>
           
               
                <%order.product.forEach(function(product){%>
                    
                    <tr>
                    
                    <td> <%=product.title%></td>    
                    <td><%=product.price%></td>    
                    <td><%=product.qty%></td>  
                    <td><%=product.qty*product.price%></td>  
                </tr>
                    
                    <%})%>
           
                <tr>
                    
                <td class="right"><b>Địa chỉ:</b> <br><%= order.address%><br></td>
                <td class="right font-weight-bold stt" ><b>Trạng thái đơn</b>:<br> <%= order.status%><br></td>
                
                <td class="right"><b>Ngày đặt:<%= order.order_date.toDateString()%>  </b><br></td>
                <%if(order.status=="Đã thanh toán"||order.status=="Ghi nợ" ){%>
                <td class="right"><b>Ngày giao:<%= order.ship_date.toDateString()%>  </b><br></td>
                <%}%>
                <td class="right thanhtien"><b>Thành tiền: <br><%= order.total%>VND </b><br></td>
                
            </tr>
        </table>
        <%if(order.status!="Đang yêu cầu hủy"&&order.status!="Đã thanh toán"&&order.status!="Ghi nợ"){%>
        <a class="button" href="/orders/remove/<%=order._id %>">Hủy Đơn Hàng</a>

       <% }%>
        
            <%})%>   
           
            
        
   
   

        
       
        
    
<%- include('_layouts/footer'); %>